#CMake

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json

# Directories

.vs/
out/
logs/

# Files

*.log

# Binaries
bin/
.DS_Store

# Private Assets
assets/models/RacingTrack
assets/models/SM_SuperCar
assets/audio/SM_SuperCar
Exports/